/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 13 gen 2025, 09:15:59
    Author     : khalid.saq.2005
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 50px;
    padding: 0;
}

.c1 {
    cursor: pointer;
}

.c2 {
    cursor: pointer;
}

.box {
    width: 200px;
    height: 150px;
    background-color: lightblue;
    border: 2px solid blue;
    text-align: center;
    line-height: 150px;
    font-family: Arial, sans-serif;
}